{% extends "base.html.twig" %}

 {% block container %}
 
   <div class="container">
       <div class="row">
       
           {% for article in articles %}
               
           <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ article.name }}</h5>
                    <p class="card-text"> Catégorie: <p> {{article.category.name}} </p></p>
                    <p class="card-text">{{article.content}}</p>
                    <a href="#" class="btn btn-primary">{{article.description}}</a>
                </div>
            </div>

           {% endfor %}
                
       </div>
   </div>
 
 {% endblock %}