<h1>Nouveau produit :v{{product.name }}</h1>
<p>Description de ce nouveau produit :{{product.description}}</p>

<p>Prix :{{product.price}}</p>
<p>Nous vous envyons la confirmation de la creation d'un nouveau produit sur votre site</p>
<p><small>Ceci est un message automatique veuillez ne pas repondre </small></p>