{% extends "base.html.twig" %}


{% block title %}
    Contact
{% endblock %}

{% block container %}

    <h1>Ma page de contact<h1> 

    <a href="{{path('app_main')}}" class="btn btn-sm btn-primary" > 
       return to contact page
    </a>

  

{% endblock %}