{% extends "base.html.twig" %}

  {% block title %}
     Main
  {% endblock %}


  {% block container %}
       <a href="{{path('app_contact')}}" class="btn btn-sm btn-primary "> click here bro</a>

       <p>{{  'hassan hamarrass jamal'|upper|nbre_chaine_de_caractere}}</p>

  {% endblock %}