<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

     <h1>Hassane</h1>

     <h2>{{prenom}}</h2>

 {# {% if age >= 18 %}
       {{prenom}} est un  adolescent 
 {% else %}
      {{prenom }}  est un  enfant
 {% endif %} #}

{{age >= 18 ?  'est adolescent'  : 'est un enfant ' }}

</body>
</html>